.name-and-position{
    display: flex;
    flex-direction: row;

    .matched-user-name-and-position{
        font-size: 20px;

        .matched-user-name{
            font-weight: bold;
            font-size: 30px;
        }
    }

}