.matched-user-functions-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 0px;


    .matched-user-star-icon{
        width: 12%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .star-icon-for-matched-user{
            height: 40px;
            width: 40px;
        }
    }

    .more-details-cover{
        width: 35%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contact-matched-cover{
        width: 35%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
}