.date-input{
    width: auto;
    border-radius: 20px;
    padding: 7px;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 15px;
    min-width: 350px;
    margin-left: 20px;
}
