.name-and-info{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 40%;
    overflow: hidden;
    height: 100%;
    padding-left: 15px;

    .name-and-position{
        height: 20%;
    }

    .quick-facts-container{
        height: 80%;
    }

    
}