.location-input-container{
    border-radius: 30px;
    padding: 4px;
    font-size: 18px;
    padding-left: 10px;
    font-weight: bold;
    color: black;
    background-color: white;
    height: auto;

    display: flex;
    align-items: center;
}


