.create-profile-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.create-profile-container:hover{
    cursor: pointer;
}

.create-profile-sign{
    height: 50px;
    margin-top: 20px;
}