$sub-color: grey;
$main-color: black;

.group {
  position: relative;

  .form-input {
    background-color: white;
    color: $main-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    width: 30vw;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }
}
