.create-profile-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




    .create-profile-form-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;  

        
        .create-profile-form-content > *{ 
             margin: 20px;
        }

        .user-details{
            display: flex;
            flex-direction: row;
            margin-right: 20px;
        }
    
    }

    .user-about-and-priorities{
        margin-left: 20px;
    }

    .submit-create-form-button-container{

        display: flex;
        justify-content: center;
        margin-top: 50px;

        .submit-create-form-button{
            width: 130px;
            height: 30px;
            border-radius: 20px;
            background-color: white;
            font-weight: bold;
            font-size: 16px;
        }

        .submit-create-form-button:hover{
            cursor: pointer;
        }
    }

    
}


.user-about .user-about-input{
    min-height: 300px;
    min-width: 300px;
    font-size: 13px;
    padding: 10px;
    border-radius: 10px;
}

.user-priorities .user-about-input{
    height: 200px;
}

